// scrollbar 樣式
::-webkit-scrollbar
  width: 6px
  height: 5px
::-webkit-scrollbar-track
  margin: 20px
::-webkit-scrollbar-track-piece
  background-color: rgba(0,0,0,.2)
  -webkit-border-radius: 6px
::-webkit-scrollbar-thumb:vertical
  height: 5px
  background-color: hsla(0,0%,49%,.7)
  -webkit-border-radius: 6px
::-webkit-scrollbar-thumb:horizontal
  width: 5px
  background-color: hsla(0,0%,49%,.7)

// image-figure 元件
.image-figure
  text-align: center
  margin: 15px 0
.image-figure img
  margin: auto
  width: 90%
.image-figure figurecaption
  margin: 10px

// 首頁 logo 背景
:root
  --vp-home-hero-image-background-image: linear-gradient(135deg, #FFF 10%, #FFF 100%)
  --vp-home-hero-image-filter: blur(50px)
